/.CFUserTextEncoding
/.DS_Store
/.Trash
/.gitconfig
/.idea
/.idlerc
/.lesshst
/.local
/.m2
/.nuuid.ini
/.oracle_jre_usage
/.pgadmin
/.psql_history
/.swiftpm
/.tl
/.vscode
/.zprofile
/.zsh_history
/.zshrc
/.zshrc.save
/79.jpg
/<!DOCTYPE html>.html
/<html>.html
/Applications
/Desktop
/Documents
/Downloads
/IdeaProjects
/IdeaSnapshots
/Library
/Movies
/Music
/Pictures
/Public
/PycharmProjects
/Templates
/Untitled-1.cpp
/a=4.py
/c++
/html
/import random.py
/index — копия.html
/jkvnksj
/ppe.cpp
/test.cpp
/Новая папка
/генератор паролей детка